<%- include("header") %> 
<div class="container-fluid">
    <h1 class="about-h1 text-align-right">This app was created using Node and an Express instance.</h1>
    <div class="about-bullets-div">
        <p class="no-side-padding">--> Pages rendered with EJS templating.</p>
        <p class="no-side-padding">--> Styling includes Bootstrap 4 and jQuery, and basic JavaScript.</p>
        <p class="no-side-padding">--> All list items are stored on a live MongoDB database.</p>    
    </div>
    <%- include("footer") %> 
</div>

